.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10;
  background-color: #f2f2f2;
  max-width: 700px;
  min-width: 320px;
  margin-top: 100px;
}


.center {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Ybutton {
  border: none;
  background: #73d8ff;
  font-size: 20px;
  width: 275px;
  margin: 8px auto;
  border-radius: 56px;
  padding: 16px;
  color: #ffffff;
}

.Ybutton:hover {
  background-color: #ffffff;
  cursor: pointer;
  color: #73d8ff;
}

.Ybutton:active {
  box-shadow: none;
  transform: translateY(2px);
}

.Nbutton {
  color: #ffffff;
  border: none;
  font-size: 20px;
  width: 275px;
  margin: 8px auto;
  padding: 16px;
  border-radius: 56px;
  background-color: rgb(150, 150, 150);
}

.Nbutton:hover {
  background-color: rgb(67, 67, 67);
  cursor: pointer;
  color: #ffffff;
}

.Nbutton:active {
  box-shadow: none;
  transform: translateY(2px);
}

.title {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 20px;
}

.box {
  margin: 16px auto;
  display: block;
}

.image {
  width: 120px;
  height: 120px;
  object-fit: contain;
}